{% extends 'base.html.twig' %}
{% block title "Edit Client"%} 

{% block body %}
    <div class="container mt-4">
    <h1> Edit Client </h1>
    <div class="col-xs-4">
        {{ form_start(form) }}
            {{ form_widget(form.firstname,{'attr':{'type':'text','class':'form-control','placeholder':'firstname...'}}) }}
            <br>
            {{ form_widget(form.lastname,{'attr':{'type':'text','class':'form-control','placeholder':'lastname...'}}) }}
            <br>
            {{ form_widget(form.email,{'attr':{'type':'text','class':'form-control','placeholder':'email...'}}) }}
            <br>
            {{ form_widget(form.address,{'attr':{'type':'text','class':'form-control','placeholder':'address...'}}) }}
            <br>
            {{ form_widget(form.phoneNumber,{'attr':{'type':'text','class':'form-control','placeholder':'phone number...'}}) }}
            <br>                                                
            {{ form_widget(form.Edit,{'attr':{'type':'text','class':'btn btn-primary','placeholder':'Submit...'}}) }}        </center>
        {{ form_end(form) }}
    </div>
</div>   
{% endblock %}