{% extends 'base.html.twig' %}

{% block body %}
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>MY</span>-HARDWARE STORE</h1>
									<h2>Welcome in our hardware store</h2>
									<p>Through our Website users can access easly to the store manage products and create bills for clients. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="https://www.comaf.tn/c/115-category_default/quincaillerie-de-batiment.jpg" class="girl img-responsive" alt="" />
									<img src="images/home/pricing.png"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>MY</span>-HARDWARE STORE</h1>
									<h2>Find everything you need</h2>
									<p>Through our Website users can access easly to the store manage products and create bills for clients. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="https://thumb.mp-farm.com/06617232/preview.jpg" class="girl img-responsive" alt="" />
									<img src="images/home/pricing.png"  class="pricing" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>MY</span>-HARDWARE STORE</h1>
									<h2>Manage quickly our Bills</h2>
									<p>Through our Website users can access easly to the store manage products and create bills for clients. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="https://lh3.googleusercontent.com/proxy/KmNkwPliJHQC-6aCY1l9ju1_p7_u610ko8KZFzQ1FdHOsQG89vfLWCBTnLWX2IVS9zTuDeoqf0AhXoiCM-WTw9yZV5qflEj_LpptFrkEjr3xi3NSK7qxhyqPNV_ZYH5a7IPL" class="girl img-responsive" alt="" />
									<img src="images/home/pricing.png" class="pricing" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for category in categories|sort((a,b) => a.name <=> b.name) %}
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#sub-category-{{category.name}}">
												<span class="badge pull-right"><i class="fa fa-plus" aria-hidden="true"></i></span>
												{{category.name}}
											</a>
										</h4>
									</div>
									<div id="sub-category-{{category.name}}" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												{% for subcategory in category.subcategories %}
												<form method ="GET">
													<li> <a href="{{ path('admin.product.searchProduct',{id:subcategory.id}) }}">{{subcategory.name}} </a> </li>
												</form>
												{% endfor %}
												</form>

											</ul> 
										</div>
									</div>
								</div>
								{% endfor %}	
						</div><!--/category-products-->											
					</div>
				</div>

				{% block product %}
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						{% for product in products|sort((a,b) => a.libelle <=> b.libelle) %}
							<div class="col-sm-4">
								<div class="product-image-wrapper">
									<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ asset('uploads/products/' ~ product.image) }}" alt="" />
												<h2>TN DT {{product.price}}</h2>
												<p>{{product.libelle}}</p>
												<a href="{{path('admin.product.showProductDetails',{id:product.id})}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>See Product</a>
											</div>
											<div class="product-overlay">
												<div class="overlay-content">
													<h2>${{product.price}}</h2>
													<p>{{product.libelle}}</p>
													<a href="{{path('admin.product.showProductDetails',{id:product.id})}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>See Product</a>
												</div>
											</div>
									</div>
									<div class="choose">
										<ul class="nav nav-pills nav-justified">
											<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
											<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
										</ul>
									</div>
								</div>
							</div>	
							{% endfor %}
					</div><!--features_items-->
						<div class="navigation text-center">
							{{ knp_pagination_render(products)}}
						</div>												
				</div>
				{% endblock %}
			</div>
		</div>
	</section>
	
{% endblock %}

{% block stylesheets %}
		<meta name="description" content="Blueprint: Responsive Product Grid Layout" />
		<meta name="keywords" content="responsive, product grid, layout, elastic, grid, web development" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		            
		            

		            {{ encore_entry_link_tags('prettyPhoto') }}

		            {{ encore_entry_link_tags('price-range') }}
 
		            {{ encore_entry_link_tags('animate') }}

		            {{ encore_entry_link_tags('main') }}

		            {{ encore_entry_link_tags('responsive') }}

		            {{ encore_entry_link_tags('font-awesome.min') }}

{% endblock %}
{% block javascripts %}
		<script src="build/cbpShop.min.js"></script>
		<script src="build/modernizr.custom.js"></script>
    <script src="build/jquery.js"></script>
	<script src="build/bootstrap.min.js"></script>
	<script src="build/jquery.scrollUp.min.js"></script>
	<script src="build/price-range.js"></script>
    <script src="build/jquery.prettyPhoto.js"></script>
    <script src="build/main.js"></script>
{% endblock %}