{% extends "base.html.twig" %}

{% block title "New Commande" %}

{% block body %}

    <form style= "padding-top: 40px;" action="" method="post" >            
        <div class ="container">
                <div class ="panel panel-primary">
                    <div class ="panel-heading">
                    <i class="icon_menu"></i> Bill Management
                    </div>
                    
                    <div class ="panel-body">
                        <table class ="table-condensed">
                            <tr>
                                <td> commande number : </td>
                                <td>{{ numc}}</td>
                                <td>Commande Date: </td>
                                <td>{{ form_widget(form.dateComm) }}</td>
                            </tr>
                            <tr>
                                <td>Client  : </td>
                                <td>{{ form_widget(form.client) }}</td>
                            </tr>
                            <tr>
                                <td>Observation : </td>
                                <td>{{ form_widget(form.observation) }}</td>
                            </tr>
                        </table>
                        <table class ="table">
                
                            <th class="col-md-1">Product</th>
                            <th class="col-md-1">quantity</th>
                            <th class="col-md-1">Action</th>
                
                            <tr>
                                <td class="col-md-1">
                                    {{ form_widget(f.product) }}
                                </td>
                                <td class="col-md-1">
                                {{ form_widget(f.quantity) }}
                                </td>
                        
                                <td class="col-md-1">
                                    <input type="submit" value = "Add" name ="bt" 
                                    class = "btn btn-warning"
                                    <i class = "glyphicon glyphicon-save"></i>
                                </td>

                            </tr>           
                        </table>
                
                        <table class ="table  table-condensed">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Ligne</th>
                                    <th class="col-md-2">Article</th>
                                    <th class="col-md-1">Quantity</th>
                                    <th class="col-md-1">Price</th>
                                    <th class="col-md-1">Tva</th>
                                    <th class="col-md-1">Total ht</th>                
                                    <th class="col-md-1">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in lcomm %}
                                    <tr>
                                    <td class="col-md-2">{{ t.lig}}</td>
                                        <td class="col-md-2">{{ t.product.libelle}}</td>             
                                        <td class="col-md-1">{{ t.quantity }}</td> 
                                        <td class="col-md-1">{{ t.product.price }}</td> 
                                        <td class="col-md-1">{{ t.product.tva }}</td> 
                                        <td class="col-md-1" >{{ t.quantity * t.product.price }}</td> 
                                        <td class="col-md-1"><a href="{{ path('supprime', {'id': t.lig}) }}" 
                                        class = "btn btn-danger">
                                        <i class = "glyphicon glyphicon-apple"></i>
                                        Delete</a></td>

                                        {% set  totht = totht + (t.product.price * t.quantity) %}
                                        {% set  totva = totva + (((t.product.price * t.quantity) * t.product.tva) *0.01) %}
                                        {% set  totttc = totttc + ((  (t.quantity * t.product.price) * ( 100 + t.product.tva)) *0.01) %}            
                                {% endfor %}

                            </tbody>
                            <tfoot>
                                <table class = "table table-condensed">
                                    <tr>
                                        <td>Tot Ht :</td>
                                        <td class="col-md-2">{{ totht}}</td>
                                    
                                        <td>Tot Tva :</td>
                                        <td class="col-md-2">{{totva }}</td>
                                        <td>Tot TTC :</td>
                                        <td class ="col-md-2">{{  totttc }}</td>
                                    </tr>   
                                </table>
                            </tfoot>
                        </table>
                                               
                            <td>
                            <input type="submit" value = "Valider" name ="bt"
                            class = "btn btn-success" <i class = "glyphicon glyphicon-save"></i>
                            
                            <td> <a href="{{ path('admin.commande.index') }}">back to list </a> 
                            </td>
                    </div>
                </div>        
        </div>        
       
    </form>    
{% endblock %}

